<!-- <div>
    <app-widget-area [bigChart]="bigChart"></app-widget-area>
</div>

<br> -->

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="CUSTOMER" total="5" [card]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="SUPPLIER" total="8" [card]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="PRODUCT" total="4" [card]="card"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="USER" total="6" [card]="card"></app-widget-card>
    </mat-card>
</div>

<br>
<br>


<div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
      <app-widget-card label="CATEGORY" total="1" [card]="card"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="PAYMENT" total="5" [card]="card"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="SALES" total="7" [card]="card"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="PURCHASE" total="6" [card]="card"></app-widget-card>
  </mat-card>
</div>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <span style="margin-top: 20px; font-size: 2em;">Recent 5 Product</span>

            <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                      <!-- Product Code Column -->
                      <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef>Product Code</th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                      </ng-container>
                  
                      <!-- Item Column -->
                      <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef>Item</th>
                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                      </ng-container>
                  
                      <!-- Quantity Column -->
                      <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                      </ng-container>
                
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
    </div>

    <div fxFlex="40">
        <!-- <app-widget-pie [pie]="pie"></app-widget-pie> -->
    </div>
    
</div>